body {
	font-size: 13px;
	color: #555;
}

* {
	margin: 0;
}

.logo {
	text-align: center;
	margin: 20px auto;
	border: 0px;
}

body,input,a,h1 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #4f74bf;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 20px;
	margin: 0 0 10px 30px;
	padding-top: 20px;
	color: #555;
}

.line {
	margin: 20px 0 20px 30px;
	width: 365px;
	height: 1px;
	background-color: #d7d7d7;
}

.form {
	background-color: #fff;
	width: 430px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 30px auto;
	-moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
}

.btn-facebook,.btn-twitter,form input[type="text"],input[type="password"],input[type="submit"]
	{
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.btn-facebook,.btn-twitter,input[type="submit"] {
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.btn-facebook,.btn-twitter {
	float: left;
	padding: 8px 14px 10px 30px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 5% 42%;
}

.btn-facebook {
	margin-left: 30px;
	background-color: #3f8ff2;
	background-image: url(../img/fb-icon.png);
	background-image: url(../img/fb-icon.png),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f74bf), to(#3f8ff2));
	background-image: url(../img/fb-icon.png),
		-webkit-linear-gradient(top, #3f8ff2, #4f74bf);
	background-image: url(../img/fb-icon.png),
		-moz-linear-gradient(top, #3f8ff2, #4f74bf);
	background-image: url(../img/fb-icon.png),
		-ms-linear-gradient(top, #3f8ff2, #4f74bf);
	background-image: url(../img/fb-icon.png),
		-o-linear-gradient(top, #3f8ff2, #4f74bf);
	border: 1px solid #4f74bf;
}

.btn-facebook:hover {
	background-color: #4f74bf;
	background-image: url(../img/fb-icon.png);
	background-image: url(../img/fb-icon.png),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f74bf), to(#4f74bf));
	background-image: url(../img/fb-icon.png),
		-webkit-linear-gradient(top, #4f74bf, #4f74bf);
	background-image: url(../img/fb-icon.png),
		-moz-linear-gradient(top, #4f74bf, #4f74bf);
	background-image: url(../img/fb-icon.png),
		-ms-linear-gradient(top, #4f74bf, #4f74bf);
	background-image: url(../img/fb-icon.png),
		-o-linear-gradient(top, #4f74bf, #4f74bf);
}

.btn-twitter {
	margin-left: 10px;
	background-color: #28c4ff;
	background-image: url(../img/tw-icon.png);
	background-image: url(../img/tw-icon.png),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00aced), to(#28c4ff));
	background-image: url(../img/tw-icon.png),
		-webkit-linear-gradient(top, #28c4ff, #00aced);
	background-image: url(../img/tw-icon.png),
		-moz-linear-gradient(top, #28c4ff, #00aced);
	background-image: url(../img/tw-icon.png),
		-ms-linear-gradient(top, #28c4ff, #00aced);
	background-image: url(../img/tw-icon.png),
		-o-linear-gradient(top, #28c4ff, #00aced);
	border: 1px solid #00aced;
	padding-bottom: 10px;
}

.btn-twitter:hover {
	background-color: #00aced;
	background-image: url(../img/tw-icon.png);
	background-image: url(../img/tw-icon.png),
		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#00aced), to(#00aced));
	background-image: url(../img/tw-icon.png),
		-webkit-linear-gradient(top, #00aced, #00aced);
	background-image: url(../img/tw-icon.png),
		-moz-linear-gradient(top, #00aced, #00aced);
	background-image: url(../img/tw-icon.png),
		-ms-linear-gradient(top, #00aced, #00aced);
	background-image: url(../img/tw-icon.png),
		-o-linear-gradient(top, #00aced, #00aced);
}

.btn-facebook:active,.btn-twitter:active {
	margin-top: 1px;
	margin-bottom: -1px;
}

form {
	margin: 0 0 0 30px;
}

form input[type="text"],input[type="password"] {
	padding: 10px 14px 12px 14px;
	background-color: #f2f2f2;
	border: 1px solid #c8c8c8;
	width: 335px;
	color: #838383;
	margin: 10px 0 0 0;
	font-size: 15px;
}

form input[type="submit"] {
	padding: 8px 35px 10px 35px;
	font-size: 15px;
}

form input[type="submit"]:hover {
	cursor: pointer
}

.btn-sign-in {
	margin: 30px 0px 30px 125px;
}

.btn-register {
	margin: 30px 0px 30px 20px;
}

.forgotten-password-link {
	float: left;
	margin-top: 40px;
}

#tac-checkbox,label,.forgotten-password-link {
	float: left;
	margin-top: 40px;
}

label {
	line-height: 12px;
	padding-left: 5px;
}

.sign-link {
	text-align: center;
	float: left;
	margin: 40px 0 0 120px;
}

.btn-orange {
	background-color: #ff8000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5800),
		to(#ff8000));
	background: -webkit-linear-gradient(top, #ff8000, #ff5800);
	background: -moz-linear-gradient(top, #ff8000, #ff5800);
	background: -ms-linear-gradient(top, #ff8000, #ff5800);
	background: -o-linear-gradient(top, #ff8000, #ff5800);
	border: 1px solid #ff5800;
}

.btn-orange:hover {
	background-color: #ff5800;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5800),
		to(#ff5800));
	background: -webkit-linear-gradient(top, #ff5800, #ff5800);
	background: -moz-linear-gradient(top, #ff5800, #ff5800);
	background: -ms-linear-gradient(top, #ff5800, #ff5800);
	background: -o-linear-gradient(top, #ff5800, #ff5800);
}

.forgotten-password-box {
	display: none;
}

.error-box {
	display: none;
}

.ie-placeholders {
	display: none;
}

form input[type="text"],input[type="password"] {
	width: 355px;
}